<html>

<head>
  <title>Visitors</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>id</th>
      <th>ip</th>
      <th>count</th>
      <th>country</th>
      <th>city</th>
      <th>longitude</th>
      <th>latitude</th>
      <th>date</th>
    </tr>
    {{#each visitors}}
    <tr>
      <td>{{id}}</td>
      <td>{{ip}}</td>
      <td>{{count}}</td>
      <td>{{country}}</td>
      <td>{{city}}</td>
      <td>{{longitude}}</td>
      <td>{{latitude}}</td>
      <td>{{date}}</td>
    </tr>
    {{/each}}
  </table>
</body>

</html>